[Unit]
Description=Advanced LIGO RTS daqd_%i
After=network-online.target

[Service]
User=controls
ExecStart=/bin/sh -c "/usr/bin/daqd_%i -c /etc/advligorts/daqdrc.%i"
Restart=always

[Install]
WantedBy=multi-user.target
