[Unit]
Description=Advanced LIGO RTS nds1 frame data retriever
After=network-online.target

[Service]
User=controls
Environment=LD_BIND_NOW=true
ExecStart=/usr/bin/nds /etc/advligorts/pipe
Restart=always
