[Unit]
Description=Advanced LIGO RTS OpenMX receiver
After=network-online.target

[Service]
User=controls
EnvironmentFile=/etc/advligorts/env
ExecStart=/usr/bin/omx_recv $OMX_RECV_ARGS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
