[Unit]
Description=Advanced LIGO RTS DAQD
After=network-online.target

[Service]
User=controls
ExecStart=/usr/bin/daqd_shmem -c /etc/advligorts/daqdrc
Restart=always

[Install]
WantedBy=multi-user.target
