[Unit]
Description=Advanced LIGO RTS Dolphin IX receiver
After=network-online.target

[Service]
User=controls
EnvironmentFile=/etc/advligorts/env
ExecStart=/usr/bin/dix_recv $DIX_RECV_ARGS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
