[Unit]
Description=Advanced LIGO RTS ZeroMQ receiver
After=network-online.target

[Service]
User=controls
EnvironmentFile=/etc/advligorts/env
ExecStart=/usr/bin/zmq_recv $ZMQ_RECV_ARGS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
