[Unit]
Description=Advanced LIGO RTS local data concentrator
After=network-online.target remote-fs.target

[Service]
User=advligorts
EnvironmentFile=-/etc/advligorts/systemd_env
EnvironmentFile=-/etc/advligorts/systemd_env_%H
ExecStart=/usr/bin/local_dc $local_dc_args
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
