[Unit]
Description=Advanced LIGO RTS NDS1 frame data retriever
After=network-online.target

[Service]
RuntimeDirectory=nds
User=advligorts
ExecStart=/usr/bin/nds --rundir /run/nds
Restart=always

[Install]
WantedBy=multi-user.target
