[Unit]
Description=Advanced LIGO RTS stand-alone EPICS data concentrator
After=network-online.target

[Service]
User=advligorts
EnvironmentFile=-/etc/advligorts/systemd_env
ExecStart=/usr/bin/standalone_edc -i /etc/advligorts/edc.ini -I 0.0.0.0:9000 $standalone_edc_args
Restart=always

[Install]
WantedBy=multi-user.target
