[Unit]
Description=Advanced LIGO RTS ZeroMQ transmitter
After=network-online.target

[Service]
User=controls
EnvironmentFile=/etc/advligorts/env
ExecStart=/usr/bin/zmq_xmit $ZMQ_XMIT_ARGS
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
