[Unit]
Description=Advanced LIGO RTS awgtpman: %i
After=rts-module@%i.service
Wants=rts-module@%i.service
PartOf=rts@%i.target

[Service]
User=advligorts
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/usr/bin/rts_awgtpman_exec %i
Restart=always
EnvironmentFile=/etc/advligorts/systemd_env
