[Unit]
Description=Advanced LIGO RTS EPICS IOC sequencer: %i
PartOf=rts@%i.target

[Service]
User=advligorts
Umask=0002
ExecStart=/usr/bin/rts_epics_exec %i
