[Unit]
Description=Advanced LIGO RTS local data concentrator
After=network-online.target

[Service]
User=controls
Type=simple
EnvironmentFile=/etc/advligorts/env
ExecStart=/usr/bin/local_dc $LOCAL_DC_ARGS
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
