[Unit]
Description=Advanced LIGO RTS run number server
After=network-online.target

[Service]
User=advligorts
StateDirectory=advligorts
ExecStart=/usr/bin/run_number_server -v --file $STATE_DIRECTORY/run_number
Restart=on-failure

[Install]
WantedBy=multi-user.target
