[Unit]
Description=Advanced LIGO RTS data acquisition daemon
After=network-online.target remote-fs.target

[Service]
User=advligorts
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/usr/bin/daqd -c /etc/advligorts/daqdrc
Restart=always

[Install]
WantedBy=multi-user.target
