[Unit]
Description=Advanced LIGO RTS data acquisition daemon
After=network-online.target

[Service]
User=advligorts
ExecStart=/usr/bin/daqd -c /etc/advligorts/daqdrc
Restart=always

[Install]
WantedBy=multi-user.target
