[Unit]
Description=Ensure the run number server is running
After=network.target

[Service]
User=controls
Group=controls
ExecStart=/usr/bin/run_number_server -v
WorkingDirectory=/var/lib/run_number
Restart=on-failure

[Install]
WantedBy=multi-user.target
