[Unit]
Description=Advanced LIGO RTS target: %i
After=remote-fs.target
Wants=rts-epics@%i.service rts-module@%i.service rts-awgtpman@%i.service

[Install]
WantedBy=multi-user.target
