<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pv.pvfactory">
      <PVFactory
            class="org.csstudio.utility.pv.nds.NDSPVFactory"
            name="LIGO NDS"
            prefix="nds">
      </PVFactory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.utility.pv.nds.PreferencePage"
            id="org.csstudio.utility.pv.nds.preferences"
            name="NDS Server">
      </page>
   </extension>

</plugin>
