#!/bin/sh

set -e

. /usr/share/debconf/confmodule

ENVFILE=/etc/advligorts/env

if [ -e "$ENVFILE" ]; then
    . $ENVFILE || true

    db_set advligorts/site "$SITE"
    db_set advligorts/ifo "$IFO"
fi

for var in site ifo ; do
    template=advligorts/$var
    case $var in
	site) wc=013 ;;
	ifo) wc=012 ;;
    esac
    ok=''
    while [ ! "$ok" ] ; do
        db_input high $template || true
	db_go || true

	db_get $template
        wcc=`echo -n $RET | wc -lwm | tr -d '[:blank:]'`
	if [ "$wcc" = "$wc" ] ; then
	    db_set $template `echo -n $RET | tr [a-z] [A-Z]`
	    ok=1
	fi
    done
done

exit 0
