Source: advligorts
Section: science
Priority: optional
Maintainer: Jameson Graef Rollins <jameson.rollins@ligo.org>
Build-Depends:
 bison,
 cmake,
 debhelper (>= 9),
 dkms,
 epics-dev,
 flex,
 grace,
 ldas-tools-al-dev,
 ldas-tools-framecpp-dev,
 libbz2-dev,
 libc-dev-bin,
 libfl-dev,
 libmotif-dev,
 libtool,
 libxpm-dev,
 libxt-dev,
 libzmq3-dev,
 mx,
 open-mx,
 pkg-config,
Standards-Version: 3.9.6
Vcs-Svn: https://redoubt.ligo-wa.caltech.edu/svn/advLigoRTS

Package: advligorts-mbuf-dkms
Architecture: any
Depends:
 advligorts-module-support,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS mbuf kernel module
 Advanced LIGO Real-Time System, core component.
 .
 Memory buffer kernel module.

Package: advligorts-symmetricom-dkms
Architecture: any
Depends:
 advligorts-module-support,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS symmetricom kernel module
 Advanced LIGO Real-Time System, core component.
 .
 GPS card interface kernel module.

Package: advligorts-module-support
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS kernel module support
 Advanced LIGO Real-Time System, core component.
 .
 Kernel module device creation scripts.

Package: advligorts-daqd
Architecture: any
Depends:
 advligorts-symmetricom-dkms,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS daqd binaries
 Advanced LIGO Real-Time System, data acquisition components.
 .
 This package installs the core non-MX components of daqd:
  * daqd_bcst: frame broadcaster
  * daqd_fw: frame writer
  * daqd_rcv: NDS1 server
  * nds: archive data retriever for NDS1

Package: advligorts-daqd-dc-mx
Architecture: any
Depends:
 advligorts-daqd,
 mx,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS daqd MX receiver data concentrator
 Advanced LIGO Real-Time System, data acquisition components.
 .
 This package installs daqd "MX" receiver data concentrator:
  * daqd_dc_mx: MX data concentrator

Package: advligorts-daqd-standiop
Architecture: any
Depends:
 advligorts-daqd,
 advligorts-mbuf-dkms,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS daqd "standiop" binary
 Advanced LIGO Real-Time System, data acquisition components.
 .
 This package installs the "stand-alone" daqd component suitable for
 test stands (e.g. "cymac"):
  * daqd_standiop: all-in-one dc/fw

Package: advligorts-mx-stream
Architecture: any
Depends:
 advligorts-mbuf-dkms,
 ${misc:Depends},
 ${shlibs:Depends},
Description: advLigoRTS front-end binaries
 Advanced LIGO Real-Time System, mx_stream component.

Package: advligorts-rcg
Architecture: any
Depends:
 advligorts-mbuf-dkms,
 advligorts-symmetricom-dkms,
 autoconf,
 epics-seq-dev,
 g++,
 linux-headers-3.2.88-rtcds,
 make,
 pkg-config,
 python,
 subversion,
 sudo,
 tcsh,
 ${misc:Depends},
Recommends:
 linux-image-3.2.88-rtcds,
Description: advLigoRTS Real-Time Code Generator (RCG)
 Advanced LIGO Real-Time System, Real-time Code Generator.
 .
 System for building real-time signal processing kernel modules from
 Simulink description graphs.

Package: advligorts-cymac
Architecture: all
Depends:
 advligorts-daqd-standiop,
 advligorts-rcg,
 cds-workstation,
 linux-image-3.2.88-rtcds,
 ${misc:Depends},
Description: advLigoRTS stand-alone "cymac" metapackage
 Advanced LIGO Real-Time System, stand-alone system components.

Package: dataviewer
Architecture: any
Depends:
 grace,
 ${misc:Depends},
 ${shlibs:Depends},
Description: NDS1 dataviewer application
 GUI application to view time series data from NDS1 servers.
