[Unit]
Description=Advanced LIGO RTS daqd
After=network-online.target

[Service]
User=controls
EnvironmentFile=/etc/systemd/daqd.config
ExecStartPre=/bin/create_running_master.sh ${DAQ_DC_FLAG} ${DAQ_MASTER_FILE} ${DAQ_CHAN_DIR}
ExecStartPre=/bin/archive_daqd_logs.sh ${DAQ_LOG_DIR}
ExecStart=/bin/sh -c "stamp=`date +%%s`; ${DAQ_TARGET_DIR}/daqd -c ${DAQ_TARGET_DIR}/daqdrc -l ${DAQ_LOG_DIR}/daqd.log.$${stamp}"
Restart=always

[Install]
WantedBy=multi-user.target

